@model UsuariosTi.Business.ViewModels.Home.Numeros.NumerosViewModel

@{

    var atendemosSuperior = new string[] { "Usuários Atendidos", "Unidades Lotéricas", "Agências e PA's", "Agências Barco", "Agências Agro", "Unidades Administrativas", "Agências Digitais", "Unidades Itinerantes", "Requisições/mês – Service Desk", "Agências Singulares" };
    var sustentamos = new string[] { "Estações de Trabalho", "Equipamentos (PAE/SNC/QQ)", "Terminais Financeiros Lotéricos", "Notebooks", "Estações Financeiras", "Equipamentos (SAA)" };
    var contadorLinhas = 0;
}


<style>
    .numerosImg {
        display: table;
        width: 100%;
        height: 102vh;
        padding: 100px 0;
        background: url('../imagens/Numeros/numeros.jpg') no-repeat bottom center scroll;
        background-position: 30% 45%;
        background-size: cover;
        margin-right: 0px;
        margin-left: 0px;
        overflow: hidden;
        z-index: 1;
    }
</style>
<section id="pag-numeros" class="numerosImg p-3">
    <div class="col-12 ">

        <div class="row pt-5">
            <div class="col-12 text-center" style="color:white;margin-bottom:15px;">
                <h1 class="masthead-brand" style="margin-top: 35px;color: white;font-size: 40px;"> NOSSOS NÚMEROS </h1>
            </div>

            <div class="col-1"></div>
            <div class="col-10">
                <div class="row" style="background: #000; opacity: 0.5; border-radius: 20px;">
                    <div class="col-12" style="color:white;font-size:20px;margin-bottom:15px; margin-left: 25px">
                        <h1>Atendemos:</h1>
                    </div>


                    @foreach (var item in Model.ListaAbrangencia.Where(x => atendemosSuperior.Contains(x.T068_PRODUTO)).OrderBy(x => x.ID_ORDENACAO))
                    {

                        <div style="float: left; margin-bottom:15px; color:white; padding: 0px 50px 0px 50px">
                            <div style="font-size:37px;text-align:center; width: 150px">@item.T068_QUANTITATIVO.Value.ToString("N0")</div>
                            <div style="font-size: 15px; text-align:center; width: 150px">@item.T068_PRODUTO</div>
                        </div>

                    }




                </div>

                <div class="row" style="background: #000; opacity: 0.5; border-radius: 20px; margin-top: 10px;">
                    <div class="col-12" style="color:white;font-size:20px;margin-bottom:15px; margin-left: 25px">
                        <h1>Sustentamos:</h1>

                    </div>
                    @foreach (var item in Model.ListaAbrangencia.Where(x => sustentamos.Contains(x.T068_PRODUTO)).OrderBy(x => x.ID_ORDENACAO))
                    {
                        contadorLinhas++;

                        if (contadorLinhas == 4 || contadorLinhas == 8)
                        {
                            <div class="col-3" style="margin-bottom:15px;color:white;"></div>
                            <div class="col-3" style="margin-bottom:15px;color:white;">
                                <div style="font-size: 37px; text-align:center; ">@item.T068_QUANTITATIVO.Value.ToString("N0")</div>
                                <div style="font-size: 17px; text-align:center;">@item.T068_PRODUTO</div>
                            </div>
                        }
                        else
                        {
                            <div class="col-3" style="margin-bottom:15px;color:white;">
                                <div style="font-size: 37px; text-align:center; ">@item.T068_QUANTITATIVO.Value.ToString("N0")</div>
                                <div style="font-size: 17px; text-align:center;">@item.T068_PRODUTO</div>
                            </div>
                        }


                    }
                </div>
            </div>
        </div>
    </div>


</section>



