@model IEnumerable<UsuariosTi.Business.ViewModels.Home.UltimasAcoes.T079_ULTIMAS_ACOESViewModel>
@{
    Layout = null;
    //var auxpaginas = 0;
    //var qtdPaginas = 0;
}


<style>
    @@-moz-document url-prefix() {
        .UAImg {
            background: url('/imagens/UltimasAcoes/ultimas-acoes2.jpg') bottom center;
            background-size: 100% 100%;
            width: 100%;
        }

        .botaoUA {
            background: #079e81 0% 0% no-repeat padding-box;
            border-radius: 10px;
            opacity: 1;
            z-index: 11;
            font-size: 16px;
            color: #079e81;
            box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
            padding: 6px 12px;
            margin-top: 110px;
            margin-bottom: 10px;
            justify-content: center;
            display: inline-flex;
            position: relative;
            min-width: 150px;
            max-width: 150px;
        }

        .botaoUA-hover {
            background: #067862 0% 0% no-repeat padding-box;
        }

        .mycard {
            margin-top: 15px;
            display: inline-flex;
            position: relative;
            justify-content: center;
            border-radius: 7px;
            padding: 10px 10px 10px 20px;
            max-height: 500px;
            min-height: 500px;
            max-width: 342px;
            min-width: 310px;
            opacity: 1;
            z-index: 3;
        }

        .card-deck {
            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
            grid-gap: .5rem;
            opacity: 1;
        }

        .mycontainer {
            border-radius: 10px;
            box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
            /*background-color: rgba(20, 18, 18, 0.75);*/
            background-color: rgba(17, 15, 17, 0.75);
            padding: 0px 0px 0px 0px;
            max-height: 530px;
            min-height: 530px;
            min-width: 1230px;
            max-width: 1230px;
            z-index: 2;
            margin-top: 13%;
        }

        .mydiv1 {
            display: inline-block;
            text-overflow: ellipsis;
            word-wrap: break-word;
            overflow: hidden;
            max-height: 11em;
            line-height: 1.2em;
            text-align: justify;
        }

        .astyle {
            font-family: 'futurabt-medium' !important;
            font-size: 16px;
            color: #f58d15;
        }

        .iconStyle {
            font-size: 10px;
            color: #f58d15;
            margin-right: 3px;
        }

        #ImgUltimasAcoes {
            width: 100%;
            height: 180px;
            object-fit: cover;
            object-position: bottom;
        }
    }

    .UAImg {
        background: url('/imagens/UltimasAcoes/ultimas-acoes2.jpg') bottom center;
        background-size: 100% 100%;
        width: 100%;
    }

    .botaoUA {
        background: #079e81 0% 0% no-repeat padding-box;
        border-radius: 10px;
        opacity: 1;
        z-index: 11;
        font-size: 16px;
        color: #079e81;
        box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
        padding: 6px 12px;
        margin-top: 110px;
        margin-bottom: 10px;
        justify-content: center;
        display: inline-flex;
        position: relative;
        min-width: 150px;
        max-width: 150px;
    }

    .botaoUA-hover {
        background: #067862 0% 0% no-repeat padding-box;
    }

    .mycard {
        margin-top: 15px;
        display: inline-flex;
        position: relative;
        justify-content: center;
        border-radius: 7px;
        padding: 10px 10px 10px 20px;
        max-height: 500px;
        min-height: 500px;
        max-width: 342px;
        min-width: 310px;
        opacity: 1;
        z-index: 3;
    }

    .card-deck {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        grid-gap: .5rem;
        opacity: 1;
    }

    .mycontainer {
        border-radius: 10px;
        box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
        /*background-color: rgba(20, 18, 18, 0.75);*/
        background-color: rgba(17, 15, 17, 0.75);
        padding: 0px 0px 0px 0px;
        max-height: 530px;
        min-height: 530px;
        min-width: 1230px;
        max-width: 1230px;
        z-index: 2;
        margin-top: 13%;
    }

    .mydiv1 {
        display: inline-block;
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
        max-height: 11em;
        line-height: 1.2em;
        text-align: justify;
    }

    .astyle {
        font-family: 'futurabt-medium' !important;
        font-size: 16px;
        color: #f58d15;
    }

    .iconStyle {
        font-size: 10px;
        color: #f58d15;
        margin-right: 3px;
    }

    #ImgUltimasAcoes {
        width: 100%;
        height: 180px;
        object-fit: cover;
        object-position: bottom;
    }
</style>

<section class="section-bg UAImg">
    <div class="row" id="pag-ultimasAcoes">
        @*<div class="col-1" style="margin-left: 1250px; margin-top: 25px;">
                <div class="col-sm botaoUA">
                    <a href="" target="_blank">
                        <span style="color:#000000; border-bottom:2px solid #000000">Todas as Ações</span>
                    </a>
                </div>
            </div>*@
    </div>
    <div class="container-fluid mycontainer">


        <div class="card-deck" style="max-height: 500px; padding-left: 30px;">
            <div class="row">
                <div class="col-md-1" style="display: table-cell; vertical-align:middle;">
                    <a data-slide="prev" href="#noticias" class="carousel-controla left" style="position: relative;float:initial; color: rgba(50, 50, 50, 0.50); font-size:80px;cursor:pointer;"><i class="fas fa-angle-left"></i></a>
                </div>
                <div class="col-md-10">

                    <div class="carousel slide" id="noticias">
                        <div class="carousel-inner conteudo row">
                            @{
                                var cItem = Model.Count();
                                var valor = "active";
                                var cont = 0;
                                var qtdPagina = cItem % 3;

                            }


                            @foreach (var valorItem in Model)
                            {

                                if (cont == 0)
                                {
                                    @Html.Raw($"<div class='item {valor}'>")
                                }

                                valor = "";
                                cont++;

                                <div class="col-md-4" style="padding: 2px 1px;">
                                    <div class="card mycard">
                                        <h5 class="card-title" style="font-size:26px; border-bottom: 2px solid #000000;">@valorItem.Titulo</h5>
                                        <h5 class="card-title">@valorItem.Data</h5>
                                        <div>
                                            @if (valorItem.Video == false)
                                            {
                                                <img class="card-img-top" id="ImgUltimasAcoes" src="@valorItem.Caminho" alt="Imagem">
                                            }
                                            else
                                            {
                                                //video
                                            }
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text mydiv1">@valorItem.Resumo</p>
                                            <div class="row footer">
                                                <div class="col-md-8" style="margin-left: -6%">
                                                    <a class="btn btn-sm" onclick="fnPositivo(this);" data-id="@valorItem.ID" style="padding: 0px;">
                                                        <label class="iconStyle" id="lblPositivo_@valorItem.ID">@valorItem.Positivo</label>
                                                        <i class="fas fa-thumbs-up" style="color:#f58d15; margin-left:1px;"></i>
                                                    </a>
                                                    <a class="btn btn-sm" onclick="fnNegativo(this);" data-id="@valorItem.ID" style="padding: 0px;">
                                                        <label class="iconStyle" id="lblNegativo_@valorItem.ID">@valorItem.Negativo</label>
                                                        <i class="fas fa-thumbs-down" style="color:#f58d15"></i>
                                                    </a>
                                                    <label class="iconStyle" id="lblVisualizacao_@valorItem.ID">@valorItem.Visualizacao</label><i class="far fa-eye" style="color:#f58d15"></i>

                                                    <label class="iconStyle" id="lblComentario_@valorItem.ID">@valorItem.QuantComentario</label>
                                                    <i class="fas fa-comment-alt" style="color:#f58d15"></i>

                                                </div>
                                                <div class="col-md-4">
                                                    <a class="btn btn-sm" onclick="fnVisualizacao(this);" data-id="@valorItem.ID" style="padding: 0px;" data-toggle="modal" data-target="#modalUltimasAcoes">
                                                        <span class="astyle">Saiba mais</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                if (cont == 3)
                                {
                                    qtdPagina++;
                                    cont = 0;
                                    @Html.Raw("</div>")

                                }

                                @if ((Model.Count() % 3) != 0)
                                {
                                    @Html.Raw("</div>")

                                }
                                else
                                {
                                    qtdPagina--;
                                }

                            }

                        </div>
                    </div>
                </div>


                <div class="col-md-1">
                    <a data-slide="next" href="#noticias" class="carousel-controla right" style="position: relative;float:initial; color: rgba(50, 50, 50, 0.50); font-size:80px;cursor:pointer;"><i class="fas fa-angle-right"></i></a>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="modalUltimasAcoes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="uaTitulo">Modal title</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="col-md-12">
                    <div class="row" style="border-bottom: 1px solid rgb(128 128 128);">
                        <div class="col-md-8">
                            <span id="uaData"></span>
                        </div>
                        <div class="col-md-4" style="text-align: right;">

                            <div class="row">
                                <div class="col-md-12">
                                    <a class="btn btn-sm" onclick="fnPositivo(this);" data-id="0" style="padding: 0px;">
                                        <label class="iconStyle" id="lblPositivoSaiba">0</label>
                                        <i class="fas fa-thumbs-up" style="color:#f58d15; margin-left:1px;"></i>
                                    </a>
                                    <a class="btn btn-sm" onclick="fnNegativo(this);" data-id="0" style="padding: 0px;">
                                        <label class="iconStyle" id="lblNegativoSaiba">0</label>
                                        <i class="fas fa-thumbs-down" style="color:#f58d15"></i>
                                    </a>
                                    <label class="iconStyle" id="lblVisualizacaoSaiba">0</label><i class="far fa-eye" style="color:#f58d15"></i>

                                    <label class="iconStyle" id="lblComentarioSaiba">0</label>
                                    <i class="fas fa-comment-alt" style="color:#f58d15"></i>

                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row" style="margin: 10px; padding: 10px;">
                        <img class="card-img-top" id="uaImgUltimasAcoes" src="" alt="Imagem">
                    </div>
                    <div class="row" style="text-align: justify; padding: 20px; font-family: 'futurabt-medium'; font-size: 16px; ">
                        <span id="uaTexto"></span>
                    </div>
                    <div class="row" style="border-top: 1px solid rgb(128 128 128); border-bottom: 1px solid rgb(128 128 128);">
                        <div class="col-md-8">
                            <h3>Comentários</h3>
                        </div>
                        <div class="col-md-4">
                            <button type="button" class="btn bg-primary" data-toggle="modal" data-target="#modalUAComentario" style="text-align: right; margin-left: 130px; margin-top:15px;">Comentar</button>
                        </div>
                    </div>
                    <div class="row">
                        <table class="table table-sm" id="tableComentario">
                            <thead>
                                <tr>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                @*<button type="button" class="btn btn-primary">...</button>*@
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalUAComentario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Novo Comentário</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <form>
                        <input type="hidden" id="txtID" />
                        <textarea id="txtComentario" class="form-control" style="height: 120px; font-size: 17px;" placeholder="Digite seu comentário aqui"></textarea>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button id="btnEnviarComentario" onclick="enviarComentario();" type="button" class="btn btn-primary" data-dismiss="modal">Enviar</button>
            </div>
        </div>
    </div>
</div>

<!-- SWIPER -->
<script src="~/lib/swiper/swiper-bundle.min.js" asp-append-version="true"></script>

<script>

     var swiper = new Swiper(".mySwiper", {
        slidesPerView: 3,
        spaceBetween: 10,
        centeredSlides: true,
        loop: true,
        autoplay: {
            delay: 3000,
            disableOnInteraction: false
        },
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });

    function fnPositivo(el) {
        var $elemento = $(el),
            dID = $elemento.attr('data-id');

        if (dID == 0) {
            dID = $("#txtID").val();
        }

        $.ajax({
            url: "/Home/ContadorLike",
            type: 'POST',
            data: { id: dID },
            beforeSend: function () {
                //blockUI('');
            }
        }).done(function (data) {
            //console.log(data);
            $("#lblPositivo_" + dID).html(data);
            $("#lblPositivoSaiba").html(data);
        }).fail(function (error) {
            //erroAjax(error, function () { });
        });

    }

    function fnNegativo(el) {
        var $elemento = $(el),
            dID = $elemento.attr('data-id');

        if (dID == 0) {
            dID = $("#txtID").val();
        }

        $.ajax({
            url: "/Home/ContadorDeslike",
            type: 'POST',
            data: { id: dID },
            beforeSend: function () {
                //blockUI('');
            }
        }).done(function (data) {
            //console.log(data);
            $("#lblNegativo_" + dID).html(data);
            $("#lblNegativoSaiba").html(data);
        }).fail(function (error) {
            //erroAjax(error, function () { });
        });

    }

    function fnVisualizacao(el) {
        var $elemento = $(el),
            dID = $elemento.attr('data-id');

        $.ajax({
            url: "/Home/ContadorVisualizacao",
            type: 'POST',
            data: { id: dID },
            beforeSend: function () {
                //blockUI('');
            }
        }).done(function (data) {
            //console.log(data);
            $("#lblVisualizacao_" + dID).html(data.visualizacao);

            $("#txtID").val(data.id);
            $("#uaTitulo").html(data.titulo);
            $("#uaData").html("Data: " + moment(data.data).format('DD/MM/YYYY'));
            $("#uaImgUltimasAcoes").attr("src", data.caminho);
            $("#uaTexto").html(data.texto);

            //$("#lblVisualizacao_" + dID).html(data.visualizacao);

            $("#lblPositivoSaiba").html(data.positivo);
            $("#lblNegativoSaiba").html(data.negativo);
            $("#lblVisualizacaoSaiba").html(data.visualizacao);
            $("#lblComentarioSaiba").html(data.listarComentarios.length);

            var cols = "";

            if (data.listarComentarios.length == 0) {
                cols += "<tr>";
                cols += "<td colspan=5 style='text-align: center;'>Nenhum Comentário</td>";
                cols += "</tr>";
            } else {
                for (var i = 0; i < data.listarComentarios.length; i++) {

                    cols += "<tr>";
                    cols += "<td style='font-size: 14px;'>Data: " + moment(data.listarComentarios[i].data).format('DD/MM/YYYY') + "<br/>" + data.listarComentarios[i].comentarios + "</td>";
                    cols += "</tr>";
                }
            }

            $("#tableComentario tbody").empty();
            $("#tableComentario tbody").append(cols);

        }).fail(function (error) {
            //erroAjax(error, function () { });
        });

    }

    function enviarComentario() {

        var dID = $("#txtID").val();
        var dTexto = $("#txtComentario").val();

        $.ajax({
            url: "/Home/EnviarComentario",
            type: 'POST',
            data: { id: dID, texto: dTexto },
            beforeSend: function () {
                //blockUI('');
                $('#txtComentario').val('')
            }
        }).done(function (data) {
            //console.log(data);
            $("#lblVisualizacao_" + dID).html(data);
            $("#lblComentario_" + dID).html(data.listarComentarios.length);

            $("#txtID").val(data.id);
            $("#uaTitulo").html(data.titulo);
            $("#uaData").html("Data: " + moment(data.data).format('DD/MM/YYYY'));
            $("#uaImgUltimasAcoes").attr("src", data.caminho);
            $("#uaTexto").html(data.texto);

            var cols = "";

            if (data.listarComentarios.length == 0) {
                cols += "<tr>";
                cols += "<td colspan=5 style='text-align: center;'>Nenhum Comentário</td>";
                cols += "</tr>";
            } else {
                for (var i = 0; i < data.listarComentarios.length; i++) {

                    cols += "<tr>";
                    cols += "<td style='font-size: 14px;'>Data: " + moment(data.listarComentarios[i].data).format('DD/MM/YYYY') + "<br/>" + data.listarComentarios[i].comentarios + "</td>";
                    cols += "</tr>";
                }
            }

            $("#tableComentario tbody").empty();
            $("#tableComentario tbody").append(cols);

            //$("#modalUAComentario")
        }).fail(function (error) {
            //erroAjax(error, function () { });
        });
    }

</script>