@model UsuariosTi.Business.ViewModels.ViewModelReportagensTi

@{
    Layout = null;
    var user = this.GetUserCustom();
    var destaque = Model.VW012_LISTA_DICASTI;
    var verificaUsuarioLikeDislike = Model.T066_INTERACOESs.Where(x => x.T065_ID == destaque.T065_ID && x.T066_USER_INTERACAO == user.Matricula);
    var statusFlagCurtir = verificaUsuarioLikeDislike.Count() > 0 ? true : verificaUsuarioLikeDislike.Select(x => x.T066_FLAG_CURTIR).FirstOrDefault() == true ? true : false;
    var statusFlagDescurtir = verificaUsuarioLikeDislike.Count() > 0 ? false : verificaUsuarioLikeDislike.Select(x => x.T066_FLAG_CURTIR).FirstOrDefault() == false ? false : true;


}

<div class="row" style="padding: 25px;">
    <div class="col-1"></div>

    <div class=" col-md-5" style="box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77); width: 100%; padding:15px; border-radius: 3%; background-color: white !important;">
        <div class=" row">
            <i class="far fa-calendar-alt" style="font-size: 20px; color: orange; margin-left: 17px; margin-top: 3px;"></i>
            <span style="font-size: 17px; color: orange; margin-left: 8px; margin-right: 20px;">@destaque.T065_DT_CADASTRO?.ToString("dd.MM.yyyy")</span>
            <a class="btn btn-sm" onclick="funPositivo(this)" data-id="@destaque.T065_ID" style="padding: 0px;">
                <label class="iconeStilo" id="iconPositivo_@destaque.T065_ID">@destaque.QTD_CURTIR</label>
                <i class="fas fa-thumbs-up" style="color:#f58d15; margin-left:1px;"></i>
            </a>
            <a class="btn btn-sm" onclick="funNegativo(this)" data-id="@destaque.T065_ID" style="padding: 0px; margin-left: 7px;">
                <label class="iconeStilo" id="iconNegativo_@destaque.T065_ID">@destaque.QTD_DESCURTIR</label>
                <i class="fas fa-thumbs-down" style="color:#f58d15"></i>
            </a>

            <a class="btn btn-sm" style="padding: 0px; margin-left: 8px;" onclick="window.open('@Html.Raw($"/ReportagensTI/BaixarImagem?Id={destaque.T065_ID}")')">
                <i class="fas fa-download iconeStilo" style="color:#f58d15;"> </i>
            </a>

            <label class="iconeStilo" style="margin-left: 5px; margin-top: 4px;" id="_@destaque.T065_ID">@destaque.QTD_VISUALIZACAO</label><i class="far fa-eye" style="color:#f58d15; margin-top: 4px; "></i>

            <label class="iconeStilo" style="margin-left: 7px; margin-top: 4px;" id="contacomentarios_@destaque.T065_ID">@destaque.QTD_COMENTARIOS</label>
            <i class="fas fa-comment-alt" style="color:#f58d15; margin-top: 4px;"></i>



        </div>

        <div class="row" style=" font-size: 24px; color: black; align-content: center; padding-left: 4%">
            <spam style="text-align: center">@destaque.T065_TITULO</spam>
        </div>
        <img alt="Alternate Text" src="data:image/png;base64, @Convert.ToBase64String(destaque.T065_IMAG)" style="width:100%" />

    </div>

    <div class="col-1"></div>

    <div class="col-md-4 position-relative" style="box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77); width: 100%; padding:32px; border-radius: 3%;">

        <div class="row">
            <div class="col-12 pb-4 position-relative" style="width: 350px; z-index: 1; ">
                <div class="row p-3" style="background: linear-gradient(to right, rgb(19, 125, 154), rgb(0, 154, 83));color: #fff;border-top-left-radius: 10px;border-top-right-radius: 10px;height: 60px;font-size: 24pt;">
                    <span>Últimas Postagens</span>
                </div>
            </div>

            <div class="col-12" style="max-height: 550px; overflow: scroll; margin-top: 5px;">
                @foreach (var item in Model.VW012_LISTA_DICASTIs.Where(x => x.T065_ID != Model.VW012_LISTA_DICASTI.T065_ID).OrderByDescending(x => x.T065_ID))
                {
                    var titulo = item.T065_TITULO.Length > 35 ? item.T065_TITULO.Substring(0, 35) + "..." : item.T065_TITULO;

                    <div class="row">
                        <div class="col-6" style="cursor: pointer" onclick="AtualizaModalDicasTI(@item.T065_ID)">
                            <img style="width:100%; height:7vw;" alt="Alternate Text" src="data:image/png;base64, @Convert.ToBase64String(item.T065_IMAG)" />
                        </div>
                        <div class="col-6">
                            <div class="row">

                                <label style="font-size:11pt;color:#656565; align-content: center; cursor: pointer;" onclick="AtualizaModalDicasTI(@item.T065_ID)">@titulo</label>
                                <label style="font-size:9pt;">@item.T065_DT_CADASTRO</label><br />

                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>

    </div>
</div>
<div class="col-1"></div>
<div class="row" style="border-top: 1px solid rgb(128 128 128); border-bottom: 1px solid rgb(128 128 128);">
    <div class="col-md-8">
        <h3>Comentários</h3>
    </div>
    <div class="col-md-4">
        <button type="button" class="btn bg-primary" data-toggle="modal" data-target="#modalComentarioDicasTI" style="text-align: right; margin-left: 130px; margin-top:15px;">Comentar</button>
    </div>
</div>
<div class="row">
    <table class="table table-sm" id="tableComentarioReportagem">
        <thead>
            <tr>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
              

@*<div class="modal fade in" id="modalComentarioDicasTI" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Novo Comentário</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <textarea id="txtComentarioDicasTI" class="form-control" style="height: 120px; font-size: 17px;" placeholder="Digite seu comentário aqui"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button id="btnEnviarComentario" onclick="EnviarComentarioDicasTI(@(destaque.T065_ID));" type="button" class="btn btn-primary" data-dismiss="modal">Enviar</button>
            </div>
        </div>
    </div>
</div>*@
