@model UsuariosTi.Business.ViewModels.ViewModelReportagensTi
@{
    Layout = null;
    var destaque = Model.VW012_LISTA_DICASTI;
    var user = this.GetUserCustom();
    var auxpagina = 0;
    var qtdPagina = 0;
}


<style>

    .iconsCount {
        font-family: 'futurabt-medium' !important;
        font-size: 10px;
        color: #fe9103 !important;
        top: 7px;
        margin-left: 4px;
        margin-right: 4px;
        cursor: pointer;
    }

    .iconeStyle {
        font-size: 12px;
        color: #f58d15;
        margin-right: 3px;
    }
</style>

<div class="row">

    @foreach (var item in Model.VW012_LISTA_DICASTIs.ToList())
    {
        var verificaUsuarioLikeDislike = Model.T066_INTERACOESs.Where(x => x.T065_ID == item.T065_ID && x.T066_USER_INTERACAO == user.Matricula);
        var statusFlagCurtir = verificaUsuarioLikeDislike.Count() > 0 ? true : verificaUsuarioLikeDislike.Select(x => x.T066_FLAG_CURTIR).FirstOrDefault() == true ? true : false;
        var statusFlagDescurtir = verificaUsuarioLikeDislike.Count() > 0 ? false : verificaUsuarioLikeDislike.Select(x => x.T066_FLAG_CURTIR).FirstOrDefault() == false ? false : true;
        var countViews = Model.T066_INTERACOESs.Where(w => w.T065_ID == item.T065_ID).Count();
        if (auxpagina == 0)
        {
            var esconderDivs = qtdPagina > 0 ? "display:none;" : "";
            @Html.Raw($"<div id='divPaginaDicasTi{qtdPagina}' style='display:flex;flex-wrap: wrap;width:100%;{esconderDivs}'>")
        }
        auxpagina++;

        <div class="col-4" style="z-index:50; margin-top:30px">
            <div class="row" style="box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77); width: 70%; height: 9vw; margin-top: 45px;">

                <div class="col-12 p-0 emcima" style="z-index:2;" onclick="DetalharModalDicasTI(@item.T065_ID);">
                    <img style="width:100%;height:9vw; cursor:pointer;" alt="Alternate Text" src="data:image/png;base64, @Convert.ToBase64String(item.T065_IMAG)" />
                    <span style="padding-top: 25%; padding-left: 10px; padding-right: 10px; float: left; margin-left: -229px; z-index:1;width:100%;background-color:black;color:#fff;opacity: 0.6; position: absolute; height: 9vw; text-align: center; align-content: center;">@item.T065_TITULO</span>
                </div>
                <div class="col-12" style="z-index:800; margin-top: 7px;">

                    <div class="row">
                        <div class="col-md-12">
                            <a class="btn btn-sm" onclick="funPositivo(this);" data-id="@item.T065_ID" style="padding: 0px;">
                                <label class="iconeStyle" id="iconPositivoa_@item.T065_ID">@item.QTD_CURTIR</label>
                                <i class="fas fa-thumbs-up" style="color:#f58d15; margin-left:1px;"></i>
                            </a>
                            <a class="btn btn-sm" onclick="funNegativo(this);" data-id="@item.T065_ID" style="padding: 0px;">
                                <label class="iconeStyle" id="iconNegativoa_@item.T065_ID">@item.QTD_DESCURTIR</label>
                                <i class="fas fa-thumbs-down" style="color:#f58d15"></i>
                            </a>

                            <a class="btn btn-sm" style="padding: 0px; margin-left: 4px; margin-top: -5px; " onclick="window.open('@Html.Raw($"/ReportagensTI/BaixarImagem?Id={item.T065_ID}")')">
                                <i class="fas fa-download iconeStyle" style="color:#f58d15; "> </i>
                            </a>

                            <label class="iconeStyle" id="lblVisualizacaoDicaTi_@item.T065_ID">@item.QTD_VISUALIZACAO</label><i class="far fa-eye" style="color:#f58d15"></i>
                            <a>
                                <label class="iconeStyle" id="contacomentarios_@item.T065_ID">@item.QTD_COMENTARIOS</label>
                                <i class="fas fa-comment-alt" style="color:#f58d15; "></i>
                            </a>

                        </div>

                    </div>

                </div>
            </div>

        </div>
        if (auxpagina == 6)
        {

            qtdPagina++;
            auxpagina = 0;
            @Html.Raw("</div>")
        }
    }

    @if ((Model.VW012_LISTA_DICASTIs.ToList().Count() % 6) != 0)
    {

        @Html.Raw("</div>")
    }
    else
    {
        qtdPagina--;
    }

    <div style="min-width:11.5%;width:11.5%;max-width:11.5%;">
        <i class="fa-5x fas fa-angle-left" id="btnVoltarDica" style="position: absolute;float:initial;top: 42%;color: grey;font-size:150px;cursor:pointer;display:none; left: -115px; z-index:90" onclick="MudarPaginaDicasTi(-1);"></i>
        <i class="fa-5x fas fa-angle-right" id="btnAvancarDica" style="position: absolute;float:initial;top: 42%;color: grey;font-size:150px;cursor:pointer; right: 0; z-index:90" onclick="MudarPaginaDicasTi(1);"></i>
    </div>
</div>



<script>
    $(document).ready(function () {
        var idDicasTi = $('#idNotica').val();
        carregaBotoesProximoVoltaPaginacao();
        //$.post("/ReportagensTi/AlteraVisualizacao", { idDicasTi: idDicasTi }, function () { });
    });


    function carregaBotoesProximoVoltaPaginacao() {
        if (@Html.Raw(Model.VW012_LISTA_DICASTIs.ToList().Count()) > 6) {
            $('#btnAvancarDica').css('display', 'block');
        } else {
            $('#btnAvancarDica').css('display', 'none');
        }
    }

    $("#filtrarDados").click(function () {
        $("#listarReportagensTi");
    });

    function DetalharModalDicasTI(idReportagem) {
        $('#modalDetalharDica').modal('hide');        
        $.post('/ReportagensTI/DetalhaReportagem', { idReportagem: idReportagem }, function (retorno) {

            $('#divModal').empty().html(retorno);

        }).done(function () {


            $('#modalDetalharDica').modal('show');
            BuscarComentariosDicasTI();
            carregar('');
        });
    }


    var qtdPagina = @Html.Raw(qtdPagina);
    var Atualpagina = 0;

    function MudarPaginaDicasTi(pag) {
        var esconderPagina = Atualpagina;
        Atualpagina = Atualpagina + pag;
        if (Atualpagina == qtdPagina) {
            $('#btnAvancarDica').css('display', 'none');
        } else {
            $('#btnAvancarDica').css('display', 'block');
        }

        if (Atualpagina == 0) {
            $('#btnVoltarDica').css('display', 'none');
        } else {
            $('#btnVoltarDica').css('display', 'block');
        }
        $('#divPaginaDicasTi' + esconderPagina).fadeOut("slow", function () {
            $('#divPaginaDicasTi' + Atualpagina).css('display', 'flex');
        });
    }




</script>

