@model UsuariosTi.Business.ViewModels.ViewModelPlantonistas

@{
    var listaPlantonistas = Model.Plantonistas.OrderBy(x => x.ORDENCAO).Select(x => new { x.NOME, x.CO_COORDENACAO_PLANTONISTA }).Distinct();
    var telefonePlantao = Model.ListaTelefones.Any(x => x.TIPO == "PLANTÃO") ? Model.ListaTelefones.FirstOrDefault(x => x.TIPO == "PLANTÃO") : new UsuariosTi.Business.Entities.T061_TELEFONE_MODULO_PLANTONISTA();
    var TelefonesMonitoracao = Model.ListaTelefones.Any(x => x.TIPO == "Monitoração") ? Model.ListaTelefones.Where(x => x.TIPO == "Monitoração").Take(4) : new List<UsuariosTi.Business.Entities.T061_TELEFONE_MODULO_PLANTONISTA>();
}


<style>
    .bg-blue-new {
        background-color: #009bea;
        color: white;
    }

    .bg-green-new {
        background-color: #00b532;
        color: white;
    }

    .div-numero {
        color: #009bea
    }

    .box-plantonista {
        font-family: Arial;
        text-align: center;
        font-size: 13px;
        padding-right: 4px;
        padding-left: 8px;
    }
</style>
<div class="row bg-gray fonte-futura">
    <div style="height:70px; margin-top:50px;" class="col-12 bg-white">
        <div class="row">

            <div class=" col-2 text-lg-center ">
                <h4 style="margin-top:11%">PLANTONISTAS</h4>
            </div>
            <div class="offset-8 col-2" style="padding-right:40px;">

                <button onclick="carregarAdminPlantonistas()" style="margin-top:11%" type="button" class="btn btn-info btn-sm pull-right">Configurações</button>
            </div>
        </div>
    </div>

    <div style="height:250px; margin-top:1px;" class="col-12 bg-white">
        <div style="height:250px; padding:60px " class="row">
            <div class="col-2 st " style="margin-top:-10px;">
                @*<div style="width:110px; height:30px; padding:5px;" class="shadow-box">
                        <i class="fa fa-calendar"> </i> <span style="font-family:'Arial'">Período</span>

                    </div>*@

                <form id="form-filtro" action="\plantonistas">


                    <div class="row">
                        <div class="col-10">
                            <select asp-for="Centralizadora" asp-items="ViewBag.Centralizadoras" class="form-control fonte-futura mt-2"></select>
                        </div>
                        <div class="col-10">
                            <select asp-for="Ano" class="form-control fonte-futura mt-2">
                                <option value="2021">2021</option>
                                <option value="2022">2022</option>
                            </select>
                        </div>

                        <div class="col-10">
                            <select asp-for="Mes" asp-items="ViewBag.Meses" class="form-control fonte-futura mt-2"></select>
                        </div>
                        <div style="padding-top:5px;" class="col-2">
                            <button class="btn btn-info  mt-2 pull-right btn-sm"><i class="fas fa-search"></i></button>
                        </div>
                    </div>

                </form>
            </div>
            <div class="col-3 ">
                <div style="height:100%" class="shadow-box">
                    <div class="row">
                        <div class="col-5" style="padding:20px;">
                            <div class="col-12">
                                <img style="width:70px; height:70px; " src="~/imagens/Plantonista_Ceaus.png" />

                            </div>
                            <span class="text-bold" style="color:#0042b7; font-family:Arial; font-size:12px; margin-left:3px;">@(telefonePlantao.TIPO + " " + telefonePlantao.DESC_TELEFONE)</span>
                        </div>
                        <div class="col-7 ">
                            <h4 class="text-bold" style="color:#ff742e; margin-left:-20px; margin-top:27%">@telefonePlantao.TELEFONE1</h4>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-7 shadow-box">
                <div class="row">
                    @foreach (var item in TelefonesMonitoracao)
                    {
                        <div class="col-3">
                            <div style="font-size:15px; font-family:Arial; text-align:center" class="  bg-blue-new rounded mt-2">
                                <span>@item.TIPO</span><span class="text-bold"> @item.DESC_TELEFONE</span>
                            </div>
                            <div class="align-content-center div-numero" style="text-align:center; height:100%">
                                <h4 class="mt-3">@item.TELEFONE1</h4>
                                <h4>@item.TELEFONE2</h4>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>



    </div>
    <div id="corpo-plantonista" style=" margin-top:1px;" class="col-12 bg-white">
        <div class="row" style="padding:60px; padding-top:0px;">
            <div class="offset-2 col-10">
                <div class="row">
                    @if (listaPlantonistas.Any())
                    {

                        @foreach (var item in listaPlantonistas)
                        {
                            <div class="col-3  box-plantonista mt-5">
                                <div style="padding:5px;" class="shadow-box">
                                    <div class="bg-blue-new text-bold  mt-2 rounded" style="padding:8px; font-size:12px; height: 50px;"> @item.NOME</div>
                                    <div style="padding:10px;" class="text-center "><span style="width:120px;" class="bg-gray">  &nbsp Sobreaviso &nbsp </span></div>
                                    <div style="padding:2px 30px 10px 30px;">
                                        <div style="height:30px; padding-top:5px;" class="bg-green-new rounded row">
                                            <div style="text-align:left" class="col-5"><span class="text-bold">SÁBADOS</span></div>
                                            <div style="text-align:right" class="col-7">@Model.Plantonistas.Where(x=>x.FONE_SABADO != null && x.CO_COORDENACAO_PLANTONISTA == item.CO_COORDENACAO_PLANTONISTA).FirstOrDefault()?.FONE_SABADO</div>
                                        </div>
                                    </div>
                                    <div style="padding:2px 30px 10px 30px;">
                                        <div style="height:30px; padding-top:5px;" class="bg-green-new rounded row">
                                            <div class="col-6">
                                                <span class="text-bold">DOMINGOS</span><br />
                                            </div>
                                            <div class="col-6" style="padding-top:0px; text-align:right">@Model.Plantonistas.Where(x => x.FONE_DOMINGO != null && x.CO_COORDENACAO_PLANTONISTA == item.CO_COORDENACAO_PLANTONISTA).FirstOrDefault()?.FONE_DOMINGO</div>
                                        </div>
                                    </div>
                                    <div style="padding:2px 30px 10px 30px;">
                                        <div style="height:30px; padding-top:5px;" class="bg-green-new rounded row">
                                            <div class="col-6"> 
                                                <span class="text-bold">FERIADOS</span>
                                            </div>
                                            <div class="col-6" style="padding-top:0px; text-align:right">@Model.Plantonistas.Where(x => x.FONE_FERIADO != null && x.CO_COORDENACAO_PLANTONISTA == item.CO_COORDENACAO_PLANTONISTA).FirstOrDefault()?.FONE_FERIADO </div>
                                        </div>
                                    </div>
                                    <div style="border-top:2px solid orange; padding-bottom:5px; min-height:250px;">
                                        @foreach (var plantao in Model.Plantonistas.Where(x => x.CO_COORDENACAO_PLANTONISTA == item.CO_COORDENACAO_PLANTONISTA))
                                        {

                                            <div class="row mt-1">
                                                <div class="col-5" ><span class="bg-gray text-bold">&nbsp @plantao.DIA?.ToString("dd/MM/yyyy") &nbsp</span></div>
                                                <div class="col-7" style="text-align:left; font-size:10px;"  >@(plantao.NOME_PLANTONISTA.TrimEnd().Length > 20 ? plantao.NOME_PLANTONISTA.Substring(0, 20).ToUpper() + "..." : plantao.NOME_PLANTONISTA.ToUpper())</div>
                                            </div>

                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="text-center col-12 fonte-futura mt-4">
                            <p>Sem registros para o período.</p>

                        </div>

                    }
                </div>


            </div>

        </div>

    </div>
</div>


@section scripts{

    <script>
        function carregarAdminPlantonistas() {
            var ano = $('#Ano').val();
            var mes = $('#Mes').val();
            var centralizadora = $('#Centralizadora').val();

            $.ajax({
                url: "/Plantonistas/Admin",
                type: 'POST',
                data: { ano: ano, mes: mes, centralizadora: centralizadora },
                success: function (obj) {
                    $('#corpo-plantonista').innerHTML = "";
                    $('#corpo-plantonista').html(obj);

                }
            })


        }

        function PlantonistaSubmit() {
            $("#form-filtro")();
        }

    </script>

}