
@model IEnumerable<UsuariosTi.Business.Entities.T071_CATALOGO_SERVICO>



    <style>
        .btnVoltar_catalogo {
            color: #565656;
            font-size: 20px;
            font-weight: bold;
        }

        .btnVoltar_catalogo_2 {
            color: #ffffff;
        }
    </style>
    <div class="row" style="margin-top:75px;padding-left:50px;padding-right:15px;padding-right:50px;">
        <div class="col-md-12">

        </div>
        <div class="col-md-12 card">
            <div class="card-header row">
                <div class="col-md-8">
                    <label style="color: #565656;font-size: 16pt;font-weight: bold; margin-top: 6px;">Catálogo de Serviços - Comunidades</label>

                </div>
                <div class="col-md-4 btnVoltar_catalogo" style="text-align: right">
                    
                    <a href="javascript:history.back()" class="btn" style="color: #565656;font-size: 16pt;font-weight: bold;">Voltar</a>
                </div>
                @*<div class="col-md-4">
                        <div class="row">
                            <form id="form-pesquisa" style="width:90%" onsubmit="return false">
                                <input placeholder="cpf/rg/matrícula/nome" id="pesquisa" name="pesquisa" class="form-control" type="text" />
                            </form>
                            <button type="button" onclick="carregaListaPrestadores()" style="" class="btn btn-success ml-1 btn-group-sm"><i class="fa fa-search"></i></button>
                        </div>
                    </div>*@
            </div>
            <div class="card-body">
                <div id="corpo" class="col-12">
                    @if (Model.Any())
                    {


                        <table style="font-size:12px;" class="text-center table table-striped table-condensed table-bordered table-responsive dataTables">
                            <thead class=" thead-light">
                                <tr>
                                    <th>COORDENAÇÃO</th>
                                    <th>SERVIÇO</th>
                                    <th>ORIENTAÇÃO</th>
                                    <th>SOLICITAÇÃO</th>
                                    <th>LINK</th>

                                </tr>

                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    var link = item.T071_LINK;
                                    <tr>
                                        <td>@item.T071_NO_COORDENACAO</td>
                                        <td>@item.T071_NO_SERVICO</td>
                                        <td>@item.T071_DESC_ORIENTACAO</td>
                                        <td>@item.T071_DESC_SOLICITACAO</td>
                                        @if (link != null)
                                        {
                                            <td><a href="@link" target="_blank"><spam><i class="fas fa-2x fa-link " style="margin-top:20px;"></i></spam></a></td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p>Nenhum registro encontrado.</p>
                    }
                </div>

            </div>
        </div>

    </div>





    <script>

        $(document).ready(function () {
            $('.dataTables').DataTable({
                pageLength: 100,
                responsive: true,
                ordering: true,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    'excel'
                ],
                language: {
                    "sEmptyTable": "Nenhum registro encontrado",
                    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                    "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_ resultados por página",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "sSearch": "Pesquisar",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    },
                    "oAria": {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    }
                }

            });



        });


        document.getElementById('pesquisa');
        inputEle.addEventListener('keyup', function (e) {
            var key = e.which || e.keyCode;
            if (key == 13) {
                carregaRegra();

            }
        });
    </script>