@model UsuariosTi.Business.ViewModels.ViewModelAcesso

@{
    ViewData["Title"] = "ManterAcesso";
}


<div class="container mt-5 pt-3">
    <div class="card">
        <div class="card-header titulo-card-cor">
            <h5 class="card-title text-center">Perfil do Usuário<span class="btn-cabecalho-direita"><button class="btn btn-primary" data-toggle="collapse" data-target="#showFormUsuario">Cadastrar</button></span></h5>
        </div>
        <div class="card-body">

            <div class="row">
                <div class="col-md-12">
                    <table id="tbHome" class="table table-hover dataTable">
                        <thead>
                            <tr>
                                <th>Matrícula</th>
                                <th>Nome</th>
                                <th>Perfil</th>
                                <th>Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.VW004_LISTA_USUARIO_ACESSOs)
                            {
                                <tr>
                                    <td>@item.T003_MAT_USUARIO</td>
                                    <td>@item.USUARIO</td>
                                    <td>@item.T002_DESC_PERFIL</td>
                                    <td>
                                        <span title="Deletar" onclick='removerPerfilUsuario(@item.T003_ID_PERFIL_USUARIO)' class='glyphicon glyphicon-trash text-danger edite-btn'>
                                            <i class="fas fa-trash-alt"></i>
                                        </span>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="div-cadastro" style="display:none;">
                <form id="formUsuario" action="CadastraUsuarioPerfil" method="post">
                    <div class="row  espaco-tamanho-form">
                        <div class="col-md-3">
                            <label id="mt" class="espaco">Usuário: </label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" placeholder="C999999" id="matricula" name="matricula" class="form-control" />
                        </div>
                        <div class="col-md-1 esqueda-btn ">
                            <button type="button" class="btn btn-success btn-sm" onclick="buscarUsuario()">
                                <i class="fas fa-user"></i>
                            </button>
                        </div>
                    </div>

                    <div class="row espaco-tamanho-form" style="margin-top:5px">
                        <div class="col-md-3">
                            <label>Nome Completo:</label>
                        </div>
                        <div class="col-md-9">
                            <input id="nome" name="nome" type="text" readonly class="form-control" />
                        </div>
                    </div>

                    <div class="row  espaco-tamanho-form">
                        <div class="col-md-3">
                            <label>Perfil</label>
                        </div>

                        <div class="col-md-9">
                            <select id="idPerfilSelecionado" name="idPerfil" asp-items="@ViewBag.ListaPerfil" class="form-control"></select>
                        </div>
                    </div>

                    <input type="hidden" name="idUsuarioPerfil" id="idUsuarioPerfil" />

                    <br />

                    <div>
                        <input type="submit" class="btn btn-primary float-right" onclick="return validaFormPerfilUsuario();" value="Salvar" />
                        <input type="button" class="btn btn-primary " data-toggle="collapse" data-target="#showForm" value="Cancelar" />
                    </div>
                </form>
            </div>
            @*<div class="collapse" id="showFormUsuario">
                <br /><hr /><br />
                <h5 class="cor-titulo text-center">Cadastro Perfil</h5>
                <br />
               
            </div>*@
        </div>

    </div>
</div>

@section Scripts{

    <script>

        var quantidadeErros;
        var msgError;

        function validaFormPerfilUsuario() {
            quantidadeErros = 0;
            msgError = '';
            confirmForm($("#matricula"), "Matrícula");
            if (quantidadeErros > 0) {
                swal('', 'Preencha os seguintes campos:\n' + msgError, 'error');
                return false;
            } else {
                return true;
            }
        }


        $(".btn-cabecalho-direita").click(function () {
            $("#div-cadastro").css("display", "block");
            $("#div-cadastro").attr("tabindex", -1).focus();
        });

        function removerPerfilUsuario(idUsuarioPerfil) {
            
            $.get("/Acesso/DeletaUsuarioPerfil", { idUsuarioAcesso: idUsuarioPerfil }, function () {
                location.reload();
            });
            //swal({
            //    title: 'Tem certeza que deseja remover esse usuário?',
            //    type: 'warning',
            //    showCancelButton: true,
            //    confirmButtonColor: '#FF0000',
            //    cancelButtonColor: '#3085d6',
            //    confirmButtonText: 'Sim, Deletar!',
            //    cancelButtonText: 'Não, Cancelar!',
            //    confirmButtonClass: 'confirm-class',
            //    cancelButtonClass: 'cancel-class',
            //    closeOnConfirm: true,
            //    closeOnCancel: false
            //},
            //    function (isConfirm) {
            //        if (isConfirm) {
            //            $.get("/Acesso/DeletaUsuarioPerfil", { idUsuarioAcesso: idUsuarioPerfil }, function () {
            //                window.location.reload();
            //            });
            //        }
            //    });
        }

        function buscarUsuario() {
            var matricula = $("#matricula").val();
            if (matricula.trim().length == 7) {
                $.get("/Acesso/BuscaUsuarioPorMatricula", { matricula: matricula.trim() }, function (user) {
                    $("#nome").val(user['nome']);
                    $("#matricula").val(user['matricula']);
                });
            } else {
                swal({
                    title: 'Matrícula inválida',
                    text: 'Verifique se você digitou a matrícula corretamente',
                    timer: 3000
                });
            }

        }

        function confirmForm(input, resposta, isRadio, div) {

            if (!isRadio) {
                input.removeClass("bordaVermelha");
                if (input.val() == '' || input.val() == 0 || input.val() == null) {
                    input.removeClass("bordaVermelha");
                    input.addClass("bordaVermelha");
                    quantidadeErros++;
                    msgError += resposta + " \n";
                }
            } else {
                div.removeClass("bordaVermelha");
                if (!$("input[name='" + input + "']:checked").val()) {
                    div.addClass("bordaVermelha");
                    quantidadeErros++;
                    msgError += resposta + " \n";
                }
            }
        }
    </script>
}
